.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.large-button {
  font-size: 75px;
  /* Adjust the font size as needed */
  padding: 40px 80px;
  /* Adjust the padding as needed */
  background-color: green;
  /* Change the background color to green */
  color: white;
  /* Change the text color to white */
  border: none;
  /* Remove the button border */
  border-radius: 5px;
  /* Add border radius for rounded corners */
}


h1 {
  font-size: 90px;
}


/* Define styles for the Google Places Autocomplete dropdown */
.google-places-autocomplete {
  /* Add styles to the autocomplete container */
  color: aliceblue
}

.google-places-autocomplete input {
  /* Add styles to the input field */
  color: blue;
  /* Change the text color to blue */
}

.google-places-autocomplete .suggestion-item {
  /* Add styles to each suggestion item in the dropdown */
  background-color: black
}

.google-places-autocomplete .suggestion-item:hover {
  /* Add styles to the suggestion item when hovered */
  color: brown
}