/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Styling for the spinner */
.spinner {
  border: 4px solid rgba(101, 100, 100, 0.1);
  border-top: 4px solid #ffffff;
  /* Change color here */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}